.rol-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .rol-margin {
    margin: 0 10px;
  }
  .form-registro{
    width: 60%;
    size: 10%;
  }