<div>
  <mat-card class="user-formul">
    <br />
    <h1>Registrar nuevo usuario</h1>
    <mat-divider></mat-divider>
    <div class="rol-class">
      <span>Seleccione el Rol del usuario</span>
      <section class="rol-section" *ngIf="dataRol.length>=1;else emptyRols">
        <mat-radio-group [(ngModel)]="rol">
          <mat-radio-button
            *ngFor="let item of dataRol"
            class="rol-margin"
            value="{{ item.rol }}"
            >{{ item.rol }}
          </mat-radio-button>
        </mat-radio-group>
      </section>
      <ng-template #emptyRols>
        <p>
          <ngb-alert [dismissible]="false">
            <strong>No se han agregado roles. </strong> Agregalos desde el apartado de operaciones.
          </ngb-alert>
        </p>
      </ng-template>
     
    </div>

    <form autocomplete="off" [name]="userInfo" [formGroup]="userInfo">
      <div class="inputData">
        <mat-form-field class="form-registro">
          <input
            formControlName="userMatricula"
            matInput
            placeholder="Matricula o código del usuario"
            type="text"
          />
          <mat-error *ngIf="userInfo.get('userMatricula').hasError('required')"
            >Es necesario rellenar este campo</mat-error
          >
          <mat-error *ngIf="userInfo.get('userMatricula').hasError('emptyRols')"
            >No hay roles disponibles para asignar</mat-error
          >
          <mat-error *ngIf="userInfo.get('userMatricula').hasError('minlength')"
            >Se requieren minimo 5 caracteres en este campo</mat-error
          >
          <mat-error *ngIf="userInfo.get('userMatricula').hasError('maxlength')"
            >Se alcanzó el limite de caracteres permitidos para este
            campo</mat-error
          >
        </mat-form-field>
      </div>
      <div class="inputData">
        <mat-form-field class="form-registro">
          <input
            formControlName="userNombres"
            matInput
            placeholder="Nombre(s)s"
            type="text"
          />
          <mat-error *ngIf="userInfo.get('userNombres').hasError('required')"
            >Es necesario rellenar este campo</mat-error
          >
          <mat-error *ngIf="userInfo.get('userNombres').hasError('minlength')"
            >Se requieren minimo 3 caracteres en este campo</mat-error
          >
          <mat-error *ngIf="userInfo.get('userNombres').hasError('maxlength')"
            >Se alcanzó el limite de caracteres permitidos para este
            campo</mat-error
          >
        </mat-form-field>
      </div>
      <div class="inputData">
        <mat-form-field class="form-registro">
          <input
            matInput
            formControlName="userApellidos"
            placeholder="Apellidos"
            type="text"
          />
          <mat-error *ngIf="userInfo.get('userApellidos').hasError('required')"
            >Es necesario rellenar este campo</mat-error
          >
          <mat-error *ngIf="userInfo.get('userApellidos').hasError('minlength')"
            >Se requieren minimo 3 caracteres en este campo</mat-error
          >
          <mat-error *ngIf="userInfo.get('userApellidos').hasError('maxlength')"
            >Se alcanzó el limite de caracteres permitidos para este
            campo</mat-error
          >
        </mat-form-field>
      </div>
      <div class="btn-actions">
        <button
          mat-raised-button
          color="warn"
          (click)="reloadPage()"
          class="btn-delete"
        >
          Cancelar
        </button>

        <button
          [swal]="{
            title: 'Registro de nuevo usuario',
            text: '¿Estás seguro de guardar un nuevo registro con los datos proporcionados?',
            icon: 'warning',
            confirmButtonText: 'Confirmar',
            showCancelButton: true,
            cancelButtonText: 'Cancelar'
          }"
          (confirm)="saveUser()"
          mat-raised-button
          color="primary"
          [disabled]="!userInfo.valid || dataRol.length<1"
          class="btn-save"
        >
          Guardar
        </button>
      </div>
    </form>
  </mat-card>
</div>
