.search-form-field {
    width: 60%;
    size: 10%;
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
  }
.content-form{
  
  justify-content: center;
  align-items: center;
}
.form-fields{
  
  width: 60%;
  size: 10%;
  margin-bottom: 10px;
}
.form-modal{
  width: 100%;
}

.demo-table {
  width: 100%;
}

.demo-button-container {
  padding-bottom: 16px;
}

.demo-button + .demo-button {
  margin-left: 8px;
}
.btn-end{
  
  float:right;
  .btn{
    margin-right: 10px;
  }
}

