.search-form-field {
    width: 60%;
    size: 10%;
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
  }
.content-form{
  
  justify-content: center;
  align-items: center;
}
.form-fields{
  
  width: 90%;
  size: 10%;
  
}
.inputData{
  width: 100%;
  margin: 20px;
}
.form-modal{
  width: 100%;
}

.demo-table {
  width: 100%;
}

.demo-button-container {
  padding-bottom: 16px;
}

.demo-button + .demo-button {
  margin-left: 8px;
}
.btn-end{
  
  float:right;
  .btn{
    margin-right: 10px;
  }
}
.operation-button{
  width: 30px;
  height: 30px;
  line-height: 30px;
    mat-icon{
      font-size: 20px;
    }
  
}
.articulos-title{
  width: 100%;
  font-size: medium;
}
.listArticulos{
  width: 100%;
}
.btn-actions {
  margin-left: 20px;
  margin-right: 30px;
}
.btn-save {
  float: right;
  margin-left: 20px;
  margin-right: 40px;
}

