<h1>Nuevo prestamo de articulos</h1>
<div class="row">
  <div class="col-md-8">
    <div class="search-div">
      <mat-form-field class="form-fields" appearance="fill">
        <mat-label>Buscar usuario</mat-label>
        <input
          matInput
          [(ngModel)]="userSearch"
          autocomplete="off"
          (keyup.enter)="openModal('users')"
        />
        <button
          mat-button
          matSuffix
          mat-stroked-button
          aria-label="search"
          (click)="openModal('users')"
        >
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </div>
    
    <div class="content-form">
      <mat-form-field class="form-fields">
        <mat-label>Nombre</mat-label>
    
        <input
          matInput
          [(ngModel)]="userSelected.Nombres"
          [formControl]="inputUsuario"
        />
      </mat-form-field>
      <mat-form-field class="form-fields">
        <mat-label>Apellidos</mat-label>
    
        <input
          matInput
          [(ngModel)]="userSelected.Apellidos"
          [formControl]="inputApellidos"
        />
      </mat-form-field>
      <mat-form-field class="form-fields">
        <mat-label>Matricula</mat-label>
    
        <input
          matInput
          [(ngModel)]="userSelected.MatriculaCodigo"
          [formControl]="inputMatricula"
        />
      </mat-form-field>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-8">
    <mat-form-field class="form-fields" appearance="fill">
      <mat-label>Buscar articulo</mat-label>
      <input
        matInput
        [(ngModel)]="articuloSearch"
        (keyup.enter)="openModal('articulos')"
      />
      <button
        mat-button
        matSuffix
        mat-stroked-button
        aria-label="search"
        (click)="openModal('articulos')"
      >
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </div>
 
</div>
<div class="row" *ngIf="articulosArray.length >= 1; else emptyArticulos">
  <div class="col-md-8">
    <ul class="list-group">
      <li
        *ngFor="let articulo of articulosArray"
        class="list-group-item list-group-item-action"
      >
        <div class="articulos-title">
          <button
            mat-button
            class="operation-button"
            (click)="addArticulo(articulo)"
          >
            <mat-icon>add</mat-icon>
          </button>
          <button
            mat-button
            class="operation-button"
            (click)="removeArticulo(articulo)"
          >
            <mat-icon>remove</mat-icon>
          </button>

          <span class="badge badge-primary"> {{ articulo.Cantidad }}</span>
          {{ articulo.Descripcion }}
        </div>
      </li>
    </ul>
  </div>
</div>
<br />
<div>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Fecha de devolucion</mat-label>
      <input matInput [matDatepicker]="dp3" disabled />
      <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
      <mat-datepicker #dp3 disabled="false"></mat-datepicker>
    </mat-form-field>
  </p>
</div>

<br />
<div class="btn-end">
  <button type="button" class="btn btn-danger">Cancelar</button>

  <button type="button" class="btn btn-success">Confirmar</button>
</div>

<br />

<ng-template #emptyArticulos>
  <div class="row">
    <div class="col-md-8">
      <ul class="list-group">
        <li
         
          class="list-group-item list-group-item-action"
        >
        <h2>Aún no se han agregado articulos</h2>
        </li>
       </ul>
    </div>
  </div>
  
 
</ng-template>
