<h1>Control de Usuarios</h1>
<mat-divider></mat-divider>

<div class="container">
  <nav mat-tab-nav-bar mat-align-tabs="center">
    <a style="text-decoration:none" 
      mat-tab-link
      *ngFor="let link of links"
      (click)="activo = link"
      [active]="activo == link"
      >{{ link }}
    </a>
  </nav>
</div>

<app-all-usuarios *ngIf="activo == 'Usuarios'"></app-all-usuarios>
<app-nuevo-usuario *ngIf="activo == 'Nuevo'"></app-nuevo-usuario>
<app-operaciones-usuario
  *ngIf="activo == 'Operaciones'"
></app-operaciones-usuario>
