<div>
  <div class="section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="full center">
            <div class="heading_main text_align_center">
              <h2><span class="theme_color">Acerca </span>de...</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <mat-divider></mat-divider>
  </div>
  <!-- section -->
  <div class="section layout_padding card">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 text_align_center">
          <div class="full">
            <img
              class="img-responsive"
              src="../../../assets/imgs/Jaguar_logo.png"
              alt="#"
            />
          </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 white_fonts">
          <h3 class="small_heading">
            Instituto Tecnológico Superior de Escárcega
          </h3>
          <h3>
            Sistema de control de Prestamos e inventario en el laboratorio de
            redes y Electrónica desarrollado en Angular Framework 12.2.7
          </h3>
          <hr>
          <h2>Julio Cesar Cantún Paez</h2>
          <hr>
          <button mat-button class="large hvr-radial-out button-theme" (click)="getDocument()"
            ><mat-icon>picture_as_pdf</mat-icon> Descargar Manual</button
          >
        </div>
      </div>
    </div>
  </div>
  <!-- end section -->
</div>
