<div class="modal-header">
  <h1>Actualizar categoria</h1>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <mat-card>
    <form autocomplete="off" [name]="categoriaInfo" [formGroup]="categoriaInfo">
      <div class="inputData">
        <mat-form-field class="form-categoria">
          <input
            type="text"
            formControlName="catDescripcion"
            matInput
            placeholder="Descripción de la categoria"
          />
          <mat-error
            *ngIf="categoriaInfo.get('catDescripcion').hasError('required')"
            >Es necesario rellenar este campo</mat-error
          >
          <mat-error
            *ngIf="categoriaInfo.get('catDescripcion').hasError('minlength')"
            >Se requieren minimo 5 caracteres en este campo</mat-error
          >
          <mat-error
            *ngIf="categoriaInfo.get('catDescripcion').hasError('maxlength')"
            >Se alcanzó el limite de caracteres permitidos para este
            campo</mat-error
          >
        </mat-form-field>
      </div>
    </form>
  </mat-card>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-secondary"
    (click)="activeModal.dismiss()"
  >
    Cancelar
  </button>
  <button
    mat-raised-button
    color="primary"
    [disabled]="!categoriaInfo.valid"
    class="btn-save"
    [swal]="{
      title: 'Actualizar categoria',
      text: '¿Estás seguro de actualizar los datos de la categoria?',
      icon: 'warning',
      confirmButtonText: 'Actualizar',
      showCancelButton: true,
      cancelButtonText: 'Cancelar'
    }"
    (confirm)="updateCategoria()"
  >
    Actualizar
  </button>
</div>
