.inputData{
    width: 100%;
    margin: 20px;
  }
  .form-articulo{
    width: 90%;
    size: 10%;
  }
  .btn-actions {
    margin-left: 20px;
    margin-right: 30px;
  }
  .btn-save {
    float: right;
    margin-left: 20px;
    margin-right: 40px;
  }