<div class="modal-header">
  <h2 class="modal-title">Editar Usuario</h2>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="moda-body">
  <mat-card class="user-formul">
    <div class="rol-class">
      <span>Seleccione el Rol del usuario</span>
      <section class="rol-section">
        <mat-radio-group [(ngModel)]="rol">
          <mat-radio-button
            *ngFor="let item of dataRol"
            class="rol-margin"
            value="{{ item.rol }}"
            >{{ item.rol }}
          </mat-radio-button>
        </mat-radio-group>
      </section>
    </div>

    <form autocomplete="off" [name]="userInfo" [formGroup]="userInfo">
      <div class="inputData">
        <mat-form-field class="form-registro">
          <input
            formControlName="userMatricula"
            matInput
            placeholder="Matricula o código del usuario"
            type="text"
          />
          <mat-error *ngIf="userInfo.get('userMatricula').hasError('required')"
            >Es necesario rellenar este campo</mat-error
          >
          <mat-error *ngIf="userInfo.get('userMatricula').hasError('minlength')"
            >Se requieren minimo 5 caracteres en este campo</mat-error
          >
          <mat-error *ngIf="userInfo.get('userMatricula').hasError('maxlength')"
            >Se alcanzó el limite de caracteres permitidos para este
            campo</mat-error
          >
        </mat-form-field>
      </div>
      <div class="inputData">
        <mat-form-field class="form-registro">
          <input
            formControlName="userNombres"
            matInput
            placeholder="Nombre(s)s"
            type="text"
          />
          <mat-error *ngIf="userInfo.get('userNombres').hasError('required')"
            >Es necesario rellenar este campo</mat-error
          >
          <mat-error *ngIf="userInfo.get('userNombres').hasError('minlength')"
            >Se requieren minimo 3 caracteres en este campo</mat-error
          >
          <mat-error *ngIf="userInfo.get('userNombres').hasError('maxlength')"
            >Se alcanzó el limite de caracteres permitidos para este
            campo</mat-error
          >
        </mat-form-field>
      </div>
      <div class="inputData">
        <mat-form-field class="form-registro">
          <input
            matInput
            formControlName="userApellidos"
            placeholder="Apellidos"
            type="text"
          />
          <mat-error *ngIf="userInfo.get('userApellidos').hasError('required')"
            >Es necesario rellenar este campo</mat-error
          >
          <mat-error *ngIf="userInfo.get('userApellidos').hasError('minlength')"
            >Se requieren minimo 3 caracteres en este campo</mat-error
          >
          <mat-error *ngIf="userInfo.get('userApellidos').hasError('maxlength')"
            >Se alcanzó el limite de caracteres permitidos para este
            campo</mat-error
          >
        </mat-form-field>
      </div>
    </form>
  </mat-card>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-secondary"
    (click)="activeModal.dismiss()"
  >
    Cancelar
  </button>
  <button
    type="button"
    ngbAutofocus
    [disabled]="!userInfo.valid"
    class="btn btn-primary"
    [swal]="{
      title: 'Actualizar usuario',
      text: '¿Estás seguro de actualizar los datos del usuario?',
      icon: 'warning',
      confirmButtonText: 'Confirmar',
      showCancelButton: true,
      cancelButtonText: 'Cancelar'
    }"
    (confirm)="updateUser()"
  >
    Actualizar
  </button>
</div>
