<h1>Laboratorio de Redes y Electrónica</h1>
<mat-divider></mat-divider>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="card-box bg-blue">
        <div class="inner">
          <h3>{{ countPrestamos }}</h3>
          <h3>Prestamos registrados</h3>
        </div>
        <div class="icon">
          <fa-icon [icon]="faFileAlt"></fa-icon>
        </div>
        <a [routerLink]="['/prestamos']" class="card-box-footer"
          >Ver más <fa-icon [icon]="faArrowCircleRight"></fa-icon>
        </a>
      </div>
    </div>
    <div class="col">
      <div class="card-box bg-green">
        <div class="inner">
          <h3>{{ countPrestamosToday }}</h3>
          <h3>Prestamos hoy</h3>
        </div>
        <div class="icon">
          <fa-icon [icon]="faShareSquare"></fa-icon>
        </div>
        <a [routerLink]="['/prestamos']" class="card-box-footer"
          >Ver más <fa-icon [icon]="faArrowCircleRight"></fa-icon>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card-box bg-orange">
        <div class="inner">
          <h3>{{ countArticulos }}</h3>
          <h3>Articulos registrados</h3>
        </div>
        <div class="icon">
          <fa-icon [icon]="faDatabase"></fa-icon>
        </div>
        <a [routerLink]="['/articulos']" class="card-box-footer"
          >Ver más <fa-icon [icon]="faArrowCircleRight"></fa-icon>
        </a>
      </div>
    </div>
    <div class="col">
      <div class="card-box bg-red">
        <div class="inner">
          <h3>{{ countUsuarios }}</h3>
          <h3>Usuarios registrados</h3>
        </div>
        <div class="icon">
          <fa-icon [icon]="faUserFriends"></fa-icon>
        </div>
        <a [routerLink]="['/usuarios']" class="card-box-footer"
          >Ver más <fa-icon [icon]="faArrowCircleRight"></fa-icon>
        </a>
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <br />

  <mat-card>
    <h1>Prestamo Rápido</h1>
    <mat-divider></mat-divider>
    <br />
    <div class="inputData">
      <mat-form-field class="form-fields" appearance="fill">
        <mat-label>Buscar usuario</mat-label>
        <input
          matInput
          [(ngModel)]="userSearch"
          autocomplete="off"
          (keyup.enter)="openModal('users')"
        />
        <button
          mat-button
          matSuffix
          mat-stroked-button
          aria-label="search"
          (click)="openModal('users')"
        >
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="inputData">
      <mat-form-field class="form-fields">
        <mat-label>Nombre</mat-label>

        <input
          matInput
          [(ngModel)]="userSelected.Nombres"
          [formControl]="inputUsuario"
        />
      </mat-form-field>
    </div>
    <br />
    <div class="inputData">
      <mat-form-field class="form-fields" appearance="fill">
        <mat-label>Buscar articulo</mat-label>
        <input
          matInput
          [(ngModel)]="articuloSearch"
          (keyup.enter)="openModal('articulos')"
        />
        <button
          mat-button
          matSuffix
          mat-stroked-button
          aria-label="search"
          (click)="openModal('articulos')"
        >
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="inputData">
      <div
        class="listArticulos"
        *ngIf="articuloSelected.id != 0; else emptyArticulos"
      >
        <ul class="list-group">
          <li class="list-group-item list-group-item-action">
            <div class="articulos-title">
              <button
                mat-button
                class="operation-button"
                (click)="addArticulo(articuloSelected)"
              >
                <mat-icon>add</mat-icon>
              </button>
              <button
                mat-button
                class="operation-button"
                (click)="removeArticulo(articuloSelected)"
              >
                <mat-icon>remove</mat-icon>
              </button>

              <span class="badge badge-primary">
                {{ articuloSelected.Cantidad }}</span
              >
              {{ articuloSelected.Descripcion }}
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="btn-actions">
      <button (click)="reloadPage()" type="button" class="btn btn-danger">
        Cancelar
      </button>

      <button
        [swal]="{
          title: 'Confirmar prestamo',
          text: '¿Estas seguro de guardar este prestamo?',
          icon: 'warning',
          confirmButtonText: 'Confirmar',
          showCancelButton: true,
          cancelButtonText: 'Cancelar'
        }"
        (confirm)="savePrestamo()"
        mat-raised-button
        color="primary"
        type="button"
        class="btn-save"
      >
        Confirmar
      </button>
    </div>
  </mat-card>
</div>
<ng-template #emptyArticulos>
  <div class="row">
    <div class="col-md-8">
      <ul class="list-group">
        <li class="list-group-item list-group-item-action">
          <h2>Agregue un articulo</h2>
        </li>
      </ul>
    </div>
  </div>
</ng-template>
