.content-form{
  
    justify-content: center;
    align-items: center;
    margin: 20px;
    font-size: medium;
    width: 100%;
  }
  .form-fields{
    
    width: 100%;
    size: 10%;
   
    
  }
  .badge{
      font-size: medium;
  }
  .mats{
    margin-bottom: 15px;
  }