<h1>Editar usuario</h1>
<div>
    <span>Seleccione el Rol del usuario</span>
    <section class="rol-section">
      <mat-radio-group [(ngModel)]="rol">
        <mat-radio-button class="rol-margin" value="Estudiante"
          >Estudiante
        </mat-radio-button>
        <mat-radio-button class="rol-margin" value="Administrativo"
          >Administrativo
        </mat-radio-button>
        <mat-radio-button class="rol-margin" value="Otro">Otro </mat-radio-button>
      </mat-radio-group>
    </section>
    {{ rol }}
  </div>

<div>
    <div *ngIf="rol == 'Estudiante'">
      <p>
        <mat-form-field class="form-registro">
          <mat-label>Matricula del usuario</mat-label>
          <input matInput />
        </mat-form-field>
      </p>
    </div>
    <div *ngIf="rol == 'Administrativo'">
      <p>
        <mat-form-field class="form-registro">
          <mat-label>Numero de empleado</mat-label>
          <input matInput />
        </mat-form-field>
      </p>
    </div>
    <p>
      <mat-form-field class="form-registro">
        <mat-label>Nombres </mat-label>
        <input matInput />
      </mat-form-field>
    </p>
  <p>
    <mat-form-field class="form-registro" >
      <mat-label>Apellidos</mat-label>
      <input matInput />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field class="form-registro" >
      <mat-label>Telefono opcional</mat-label>
      <input matInput />
    </mat-form-field>
  </p>
  
  
  
  
  </div>
  