<div class="modal-header">
    <h1>Actualizar Ubicación</h1>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="activeModal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <mat-card>
      <form autocomplete="off" [name]="ubicacionInfo" [formGroup]="ubicacionInfo">
        <div class="inputData">
          <mat-form-field class="form-categoria">
            <input
              type="text"
              formControlName="ubiDescripcion"
              matInput
              placeholder="Descripción de la ubicación"
            />
            <mat-error
              *ngIf="ubicacionInfo.get('ubiDescripcion').hasError('required')"
              >Es necesario rellenar este campo</mat-error
            >
            <mat-error
              *ngIf="ubicacionInfo.get('ubiDescripcion').hasError('minlength')"
              >Se requieren minimo 5 caracteres en este campo</mat-error
            >
            <mat-error
              *ngIf="ubicacionInfo.get('ubiDescripcion').hasError('maxlength')"
              >Se alcanzó el limite de caracteres permitidos para este
              campo</mat-error
            >
          </mat-form-field>
        </div>
      </form>
    </mat-card>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-secondary"
      (click)="activeModal.dismiss()"
    >
      Cancelar
    </button>
    <button
      mat-raised-button
      color="primary"
      [disabled]="!ubicacionInfo.valid"
      class="btn-save"
      [swal]="{
        title: 'Actualizar Ubicación',
        text: '¿Estás seguro de actualizar los datos de la ubicación?',
        icon: 'warning',
        confirmButtonText: 'Actualizar',
        showCancelButton: true,
        cancelButtonText: 'Cancelar'
      }"
      (confirm)="updateUbicacion()"
    >
      Actualizar
    </button>
  </div>
  