<h1>Control de Articulos</h1>

<mat-divider></mat-divider>
<div class="container">
  <nav mat-tab-nav-bar mat-align-tabs="center">
    <a style="text-decoration:none" 
      mat-tab-link
      *ngFor="let link of links"
      (click)="activo = link"
      [active]="activo == link"
      >{{ link }}
    </a>
  </nav>
</div>

<app-all-articulos *ngIf="activo =='Articulos'"></app-all-articulos>
<app-nuevo-articulo *ngIf="activo == 'Nuevo'"> </app-nuevo-articulo>
<app-operaciones-articulo *ngIf="activo == 'Operaciones'"> </app-operaciones-articulo>
