<h1>Control de Articulos</h1>

<h1>Articulos registrados</h1>
<div class="container">
  <nav mat-tab-nav-bar mat-align-tabs="center">
    <a
      mat-tab-link
      (click)="activo = 'Articulos'"
      [active]="activo == 'Articulos'"
      >Articulos</a
    >
    <a mat-tab-link (click)="activo = 'Nuevo'" [active]="activo == 'Nuevo'"
      >Nuevo</a
    >
    <a
      mat-tab-link
      disabled
      (click)="activo = 'Editar'"
      [active]="activo == 'Editar'"
      >Editar Articulo</a
    >
  </nav>
</div>
<div *ngIf="activo == 'Articulos'">
  <a mat-raised-button color="primary" (click)="activo = 'Editar'">Editar</a>
  <div class="search-div">
    <mat-form-field class="search-form-field">
      <input
        matInput
        [(ngModel)]="searchKey"
        placeholder="Buscar"
        autocomplete="off"
        (keyup)="applyFilter()"
      />
      <button
        mat-button
        matSuffix
        mat-icon-button
        aria-label="Clear"
        *ngIf="searchKey"
        (click)="onSearchClear()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>id</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="Descripcion">
        <th mat-header-cell *matHeaderCellDef>Descripcion</th>
        <td mat-cell *matCellDef="let element">{{ element.Descripcion }}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="Estatus">
        <th mat-header-cell *matHeaderCellDef>Estatus</th>
        <td mat-cell *matCellDef="let element">{{ element.Estatus }}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="Codigo">
        <th mat-header-cell *matHeaderCellDef>Codigo</th>
        <td mat-cell *matCellDef="let element">{{ element.Codigo }}</td>
      </ng-container>
      <!-- Symbol Column -->
      <ng-container matColumnDef="Stock">
        <th mat-header-cell *matHeaderCellDef>Stock</th>
        <td mat-cell *matCellDef="let element">{{ element.Stock }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
<app-nuevo-articulo *ngIf="activo == 'Nuevo'"> </app-nuevo-articulo>
<app-editar-articulo *ngIf="activo == 'Editar'"> </app-editar-articulo>
